.box {
    width: 450px;
    border-radius: 15px;
    background: white;
    padding: 2rem 1rem;
    text-align: center;

    @include px525 {
        width: 325px;
    }

    @include px350 {
        width: 275px;
    }
}
