$color: #1da1f2;

.tweet-container {
    position: relative;
    background: white;
    width: 450px;
    height: 300px;
    border-radius: 15px;

    @include px525 {
        width: 325px;
    }

    @include px350 {
        width: 275px;
        height: 250px;
    }

    &.final {
        height: auto;
    }

    .final-tweet.bottom {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        padding-inline: 10%;
        align-items: center;
        position: absolute;
        bottom: 0;

        & > svg {
            cursor: pointer;
            width: 20px;
            height: 20px;
        }
    }

    .final-tweet.user {
        width: 100%;
        font-size: 1.1rem;
        padding: 1rem;
    }

    .final-tweet.comment {
        padding-inline: 1rem;
        font-size: 1.1rem;
        width: 100%;
        overflow-y: auto;
        margin-bottom: 50px;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background: $color;
            border-radius: 10px;
        }
    }

    .tweet-textarea {
        border: none;
        outline: none;
        resize: none;
        padding: 1.25rem;
        font-size: 1.1rem;
        border-radius: 15px;
        width: 100%;
        height: 80%;
    }

    .tweet-btn {
        position: absolute;
        right: 1rem;
        height: 40px;
        width: 100px;
        padding: 0.5rem 1rem;
        background: $color;
        color: white;
        border: none;
        border-radius: 2rem;
        cursor: pointer;
        font-size: 1.1rem;
        font-weight: bold;
    }
}
